.container {
  position: relative;
}

.search {
  font-family: Inter, Arial, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  width: 100%;
  padding: 8px 32px 8px 8px;
  border: 1px solid var(--color-border);
  box-sizing: border-box;
}

.clearBtn {
  position: absolute;
  cursor: pointer;
  border: none;
  background: transparent;
  color: var(--color-clear-icon);
  padding: 4px;
  top: 0;
  right: 0;
}

.spinner {
  color: var(--color-clear-icon);
  animation: spin 1s linear infinite;
  position: absolute;
  top: 6px;
  left: -24px;
}

.text {
  padding-top: 16px;
}

.textTitle {
  padding-top: 24px;
  text-align: center;
}


.searchValue {
  font-weight: 700;
  font-size: 14px;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
