:root {
  --color-background-dark: #303033;
  --color-blue: #307FFF;
}

body[theme=dark] {
  --color-background: #19191c;
  --color-text: #ffffff;
  --color-background-header: var(--color-background-dark);
  --color-background-footer: var(--color-background-dark);
  --color-border: rgba(255, 255, 255, 0.2);
  --color-clear-icon: rgba(217, 217, 217, 0.44);
  --color-lvl-background: #1f1f21;
  --color-lvl-background-hover: rgba(255, 255, 255, 0.05);
}

body[theme=light] {
  --color-background: #ffffff;
  --color-text: #19191c;
  --color-background-header: var(--color-background-dark);
  --color-background-footer: var(--color-background-dark);
  --color-border: rgba(25,25,28,0.2);
  --color-clear-icon: rgba(51, 51, 51, 0.6);
  --color-lvl-background: #f9f9f9;
  --color-lvl-background-hover: rgba(25, 25, 28, 0.05);
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: Inter, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  background-color: var(--color-background);
  color: var(--color-text);
  transition: color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
