:root {
  --color-background-dark: #0b0b0c;
}

body[theme=dark] {
  --color-background: #19191c;
  --color-text: #ffffff;
  --color-background-header: #0b0b0c;
  --color-background-footer: #0b0b0c;
  --color-border: rgba(255, 255, 255, 0.1);
  --color-lvl-background-hover: rgba(255, 255, 255, 0.07);
}

body[theme=light] {
  --color-background: #ffffff;
  --color-text: #19191c;
  --color-background-header: #27282c;
  --color-background-footer: #27282c;
  --color-border: #e9e9e9;
  --color-lvl-background-hover: #f9f9f9;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: Inter, Arial, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);

  transition: color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
