.link {
  display: flex;
  align-items: center;
  padding: 8px 32px 8px calc(var(--lvl-padding) + 32px);
  cursor: pointer;
}

.link:hover {
  background: var(--color-lvl-background-hover);
}

.linkIcon {
  padding-right: 8px;
}
