.link {
  display: flex;
  align-items: center;
  padding: 8px 32px 8px calc(var(--lvl-padding) + 48px);
  cursor: pointer;
  z-index: 1;
  position: relative;
}

.listItem {
  overflow: hidden;
}

.link:hover {
  background: var(--color-lvl-background-hover);
}

.linkIcon {
  position: absolute;
  top: 0;
  left: -18px;
  transition: transform ease-out 0.2s;
}

.open .linkIcon {
  transform: rotate(90deg);
}

.linkTitle {
  padding-left: 8px;
  position: relative;
}

.dot, .dot:before, .dot:after {
  position: absolute;
  right: -20px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(107, 107, 107, 0.2);
}

.dot:before, .dot:after {
  content: "";
}

.dot:before {
  right: 6px;
  transition: right .3s ease-out;
  animation: dot-blink 1.4s infinite ease-in-out;
}

.dot {
  top: 6px;
  animation: dot-blink 1.4s infinite ease-in-out;
  animation-delay: 0.3s;
}

.dot:after {
  left: 6px;
  transition: left .3s ease-out;
  animation: dot-blink 1.4s infinite ease-in-out;
  animation-delay: 0.6s;
}

@keyframes dot-blink {
  0%, 80%, 100% {
    background-color: rgba(107, 107, 107, 0.2);
  }
  40% {
    background-color: rgba(107, 107, 107, 0.01);
  }
}
